.container {
    overflow: hidden;
}

.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.input-group-append{
    background-color: #E4DFDA;
}

@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
}
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}

.col-md-10{
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1.5pt solid #E4DFDA;
}

.col-md-5{
  padding: 5px;
  margin-top: 10px;
  margin-left: 1px;
}

.col-md-3{
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

a{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 15pt;
}

.result{
  color: grey;
}

h5{
  padding: 20px;
  margin-left: 70px;
}