body {
    margin: 0;
    padding: 0;
}

.container{
    height:500px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #E4DFDA;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.col-md-8{
    margin-top: 30px;
    padding: 15px;
}

.col-md-5{
    padding: 10px;
    margin-top: 30px;
    margin-left: 1px;
}

.col-md-3{
    padding: 10px;
    margin-top: 30px;
    margin-left: 15px;
}

.col-md-4{
    margin-top: 30px;
    height: 400px;
}

article{
    margin-top: 15px;
    padding: 3px;
    font-style: italic;
}

.container .btn-holder {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 25px;
    margin-right: 50px;
}

img{
    width: 300px; 
    height: 400px;
    margin-left: 10px;
}

p{
    font-weight: bold;;
    margin-left: 15px;
    font-size: 18pt;
}

@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
}
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}