.WebContainer{
  width: 100%;
  height: auto;
}

.container1{
    overflow: hidden;
}

.header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.input-group-append{
    background-color: #E4DFDA;
}

@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
}
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}

.col-md-10{
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1.5pt solid #E4DFDA;
}

.col-md-5{
  padding: 5px;
  margin-top: 10px;
  margin-left: 1px;
}

.col-md-3{
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

a#skripsi{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 18pt;
}

.result{
  color: grey;
}

h5{
  padding: 20px;
  margin-left: 70px;
}

footer{
  margin-top: 60px;
  background-color: #1abc9c;
  color: whitesmoke;
}

.md-form{
  width: 120%;
  display: flex;
  align-items: center;
  transform: translate(30%, 50%);
  margin-top: 50px;         
}

.dropdown#tahun{
  margin-inline-start: 550px;
  transform: translateY(-10px); 
}

.dropdown#peminatan{
  margin-inline-start: 690px;
  transform: translateX(10px); 
}

.container{
  height:450px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color:#1abc9c;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

img{
  width: 577; 
  height: 433;
  margin-top: 80px;
  margin-left: -200px;
}

.welcome{
  transform: rotate(-90deg);
  margin-left: -250px;
  color: white;
}

.btn-login{
  justify-content: flex-end;
  display: flex;
  margin-bottom: 25px;
  margin-top: 30px;
  font-size: 24px;
  background-color: blue;
  color: white;

}

.form-word{
  margin-left: 0px;
  margin-top: -90px;
  font-size: 25px;
  color: white;
}

.form-group{
  margin-top: 120px;
  width: 100px;
}


