.WebContainer{
  width: 100%;
  height: auto;
}

.container1{
  overflow: hidden;
}

.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
  
  /* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.judul{
  font-weight: bold;
}

.col-md-10{
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1.5pt solid #E4DFDA;
}

.col-md-5{
  padding: 5px;
  margin-top: 10px;
  margin-left: 1px;
}

.col-md-2{
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

a#skripsi{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 20pt;
}

.result{
  color: grey;
}

h5{
  padding: 20px;
  margin-left: 70px;
}

footer{
  background-color: #1abc9c;
  color: whitesmoke;
  padding: 20px;
  margin-top: 110px;
}

form{
  margin-top: 20px;
  transform: translateY(15px);
}

input#titleBar{
  width: 600px;
}

input#nameBar{
  width: 300px;
  margin-left: 255px;
  margin-right: 0px;
}

input#npmBar{
  width: 250px;
  margin-right: 220px;
}

.dropdown{
  margin-top: 10px;
  margin-inline-start: 550px;
  transform: translateY(-10px); 
  width: 600px;
  margin-left: 350px;
}

.row{
  margin-top: 10px;
}

.button#search{
  margin-top: 10px;
  margin-left: 550px;
  width: 200px;
}

.grid-container{
  grid-template-columns: auto auto;
}

/* css login */
.container#login{
  height:480px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color:#1abc9c;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

img{
  width: 577; 
  height: 433;
  margin-top: 80px;
  margin-left: -200px;
}

.welcome{
  transform: rotate(-90deg);
  margin-left: -250px;
  color: white;
}

.btn-login{
  justify-content: flex-end;
  display: flex;
  margin-bottom: 25px;
  margin-top: 30px;
  font-size: 24px;
  background-color: blue;
  color: white;

}

.form-word{
  margin-left: 0px;
  margin-top: -90px;
  font-size: 25px;
  color: white;
}

.form-group{
  margin-top: 120px;
  width: 100px;
}

/* css skripsi */

.col-md-8#title{
  margin-top: 30px;
  padding: 15px;
}

.btn-holder {
  justify-content: flex-end;
  display: flex;
  margin-right: 50px;
  margin-bottom: 50px;
}

p#judul{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 18pt;
  color: white;
}

article#abstrak{
  margin-top: 15px;
  padding: 3px;
  font-style: italic;
}

.imgSkripsi{
  width: 300px; 
  height: 400px;
  margin-top: 35px;
  margin-left: 10px;
}