.WebContainer{
  width: 100%;
  height: auto;
}

.container1{
    overflow: hidden;
}

.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.input-group-append{
    background-color: #E4DFDA;
}

.col-md-10{
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1.5pt solid #E4DFDA;
}

.col-md-5{
  padding: 5px;
  margin-top: 10px;
  margin-left: 1px;
}

.col-md-3{
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

a#skripsi{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 18pt;
}

.result{
  color: grey;
}

h5{
  padding: 20px;
  margin-left: 70px;
}

footer{
  margin-top: 60px;
  background-color: #1abc9c;
  color: whitesmoke;
}

form{
  margin-top: 20px;
  transform: translateY(15px);
}

.form-input, .dropdown{
  /* margin-inline-start: 550px;
  transform: translateY(-10px);  */
  width: 600px;
  margin-left: 350px;
}

.row{
  margin-top: 10px;
}

.button#search{
  margin-top: 10px;
  margin-left: 550px;
  width: 200px;
}

/* .dropdown#peminatan{
  margin-inline-start: 600px;
  transform: translateX(10px);
  position: relative; 
} */

footer{
  background-color: #1abc9c ;
  padding: 10px;
  transform: translateY(28px);
.dropdown#peminatan{
  margin-inline-start: 690px;
  transform: translateX(10px); 
}

/* css login */
.container{
  height:480px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color:#1abc9c;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

img{
  width: 577; 
  height: 433;
  margin-top: 80px;
  margin-left: -200px;
}

.welcome{
  transform: rotate(-90deg);
  margin-left: -250px;
  color: white;
}

.btn-login{
  justify-content: flex-end;
  display: flex;
  margin-bottom: 25px;
  margin-top: 30px;
  font-size: 24px;
  background-color: blue;
  color: white;

}

.form-word{
  margin-left: 0px;
  margin-top: -90px;
  font-size: 25px;
  color: white;
}

.form-group{
  margin-top: 120px;
  width: 100px;
}

/* css skripsi */

.col-md-8{
  margin-top: 30px;
  padding: 15px;
}

.btn-holder {
  justify-content: flex-end;
  display: flex;
  margin-right: 50px;
  margin-bottom: 50px;
}

p{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 18pt;
  color: white;
}

article{
  margin-top: 15px;
  padding: 3px;
  font-style: italic;
}

.imgSkripsi{
  width: 300px; 
  height: 400px;
  margin-top: 35px;
  margin-left: 10px;
}