@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}
/* css homepage */

.WebContainer{
  width: 100%;
  height: auto;
} */

.container1{
  overflow: hidden;
}

.header {
  height: 300px;
  padding: 40px;
  text-align: center;
  background-image: url(/background1.png);
  color: white;
}

  /* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.judul{
  font-weight: bold;
}

.col-md-10{
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1.5pt solid #E4DFDA;
}

.col-md-5{
  padding: 5px;
  margin-top: 10px;
  margin-left: 1px;
}

.col-md-2{
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

a#skripsi{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 20px;
}

h5{
  padding: 20px;
  color: grey;
}

footer{
  background-color: #002642;
  color: whitesmoke;
  padding: 20px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  /* margin-top: 110px;
  margin-bottom: 0px; */
}

form{
  margin-top: 20px;
  transform: translateY(15px);
}

input#titleBar{
  width: 600px;
  margin-left: -200px;
}

input#nameBar{
  width: 300px;
  margin-left: 70px;
  margin-right: 0px;
}

input#npmBar{
  width: 270px;
  margin-right: 220px;
  margin-left: -220px;
}

.dropdown#tahun{
  margin-top: -70px;
  margin-bottom: 90px;
  margin-inline-start: 550px;
  transform: translateY(-10px); 
  width: 100px;
  margin-left: 820px;
}

.dropdown#peminatan{
  margin-top: -80px;
  margin-bottom: 90px;
  margin-inline-start: 550px;
  transform: translateY(-10px); 
  width: 200px;
  margin-left: 820px;
}

.row{
  margin-top: 10px;
}

.button#search{
  margin-top: -80px;
  margin-bottom: 80px;
  margin-left: 820px;
  width: 200px;
  background-color: #EEE82C;
}

.grid-container{
  grid-template-columns: auto auto;
}


/* css skripsi */
.col-md-8#title{
  margin-top: 30px;
  padding: 15px;
}

.btn-holder {
  justify-content: flex-end;
  display: flex;
  margin-right: 50px;
  margin-bottom: 70px;
}

p#judul{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 18pt;
  color: white;
}

p#penulis{
  color: white;
}

p#bidangminat{
  color: white;
  margin-left: 50px;
}

p#tahun{
  color: white;
  margin-left: 100px;
}

article#abstrak{
  margin-top: 15px;
  padding: 3px;
  font-style: italic;
  color: white;
}

.imgSkripsi{
  width: 300px; 
  height: 400px;
  margin-top: 35px;
  margin-left: 10px;
}

.container#skripsi{
  height:500px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color:#002642;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

@media only screen and (max-width: 480px) {
  #footer ul li a img {
    max-width: 100%;
    display: block;
    /* height: auto; */ 
   }
  }
/* css login */

.container#login{
  height:480px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color:#002642;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

img{
  width: 577; 
  height: 433;
  margin-top: 80px;
  margin-left: -200px;
}

.welcome{
  transform: rotate(-90deg);
  margin-left: -250px;
  color: white;
}

.btn-login{
  justify-content: flex-end;
  display: flex;
  margin-bottom: 25px;
  margin-top: 30px;
  font-size: 22px;
  background-color: #EEE82C;
  color: black;

}

.form-word{
  margin-left: 0px;
  margin-top: -90px;
  font-size: 25px;
  color: white;
}

.form-group{
  margin-top: 120px;
  width: 100px;
}
